html {
  font-size: 10px;
  font-family: "Open Sans", sans-serif;
  background-color: #f9f9f9ff;
}

body {
  width: 80%;
  margin: 0 auto;
  background-color: #f9f9f9ff;
  padding: 0px 20px 20px 20px;
  border: none;
}

h1 {
  margin: 0px;
  padding: 20px 0px;
  color: #6c757d;
  font-size: 60px;
  text-align: center;
  text-shadow: 2px 2px 5px #6c757d;
}

p,
li,
pre,
a {
  font-size: 20px;
  line-height: 2;
  letter-spacing: 1px;
}

img {
  display: block;
  margin: 0 auto;
}
