html {
  font-size: 10px;
  font-family: "Open Sans", sans-serif;
  background-color: #f9f9f9ff;
}

body {
  width: 80%;
  margin: 0 auto;
  background-color: #f9f9f9ff;
  padding: 0px 20px 20px 20px;
  border: none;
}

h1 {
  margin: 0px;
  padding: 20px 0px;
  color: #6c757d;
  font-size: 60px;
  text-align: center;
  text-shadow: 2px 2px 5px #6c757d;
}

h2 {
  font-size: 40px;
  text-align: center;
}

p,
li,
pre,
a {
  font-size: 20px;
  line-height: 2;
  letter-spacing: 1px;
}

a:link,
a:visited {
  color: #f86624ff;
  text-decoration: none;
}

a:hover,
a:visited {
  color: #1f0812ff;
  text-decoration: none;
}

img {
  display: block;
  margin: 0 auto;
}

table,
th,
td {
  width: 600px;
  border-spacing: 10px;
}

th,
td {
  font-size: 20px;
  line-height: 2;
  letter-spacing: 1px;
  border-bottom: 1px solid black;
  padding: 0px 10px 0px 10px;
}

caption {
  font-size: 20px;
  line-height: 2;
  letter-spacing: 1px;
}

th,
caption {
  text-align: left;
}

td:hover,
th:hover {
  background-color: #6c757d;
}
